body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(145, 204, 222);
}


.slider-container{
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.image-container{
    display: flex;
    transition: 0.5s;
}

.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 20px;
    opacity: 0.5;
    cursor: pointer;
}

.btn:hover{
    opacity: 1;
    color: #000;
}

.btn.prev{
    left: 10px;
    transition: .5s;
}

.btn.prev:hover{
    left: 5px;
}

.btn.next{
    right: 10px;
    transition: .5s;
}

.btn.next:hover{
    right: 5px;
}